<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    @RenderBody()
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
		<script>

			$.get('/Home/UpdateVisits');

		    // Enable pusher logging - don't include this in production
		    Pusher.logToConsole = true;

		    var pusher = new Pusher('913866e45b4b1e9daf1a');

		    var channel = pusher.subscribe('general');
			
		    channel.bind('newVisit', function(data) {
		      console.log(data);
			  var visits = data.visits;
			  var message = data.message;
			  $('#noOfVisitors').text( visits + message);
		    });
		</script>
</body>
</html>
